* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: Arial, sans-serif;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("../images/background.png") center/cover;
      }

      /* Register form */
      .register-form {
        background: #fff;
        padding: 30px 40px;
        border-radius: 10px;
        width: 600px;
        text-align: center;
      }

      .register-form h2 {
        margin-bottom: 20px;
      }

      .form-row {
        display: flex;
        gap: 15px;
      }

      .form-group {
        flex: 1;
        margin-bottom: 16px;
        text-align: left;
      }

      label {
        font-size: 14px;
        margin-bottom: 6px;
        display: block;
        color: #333;
      }

      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 6px;
        font-size: 14px;
      }

      .form-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 18px 0;
        font-size: 14px;
      }

      .form-actions a {
        color: #000;
        text-decoration: none;
        width: 150px;
      }

      .btn-register {
        background: #38b6ff;
        color: #fff;
        border: none;
        width: 170px;
        padding: 10px 20px;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
      }

      .extra-links {
        font-size: 13px;
        color: #444;
      }

      .extra-links a {
        text-decoration: none;
        color: #333;
      }

      .extra-links p {
        margin-top: 6px;
      }